*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: poppins;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
}
div.container{
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 12px;
  border: solid ;
}
div.lateral{
  /* position: relative; */
  left: 10px;
}
div.filho1{
  position: relative;
  background-color: blue;
  top: 50px;
}
div.filho2{
  background-color: blueviolet;
}